@model FribergCarRentals.Models.Car

<h1>Ändra bil</h1>
@if (ViewBag.EditCarError != null)
{
    <div class="alert alert-danger">
        @ViewBag.EditCarError
    </div>
}
<h4>Bildetaljer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="Name" class="control-label">Namn</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDay" class="control-label">Pris per dag</label>
                <input asp-for="PricePerDay" class="form-control" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsAvailable" />
                <label class="form-check-label" asp-for="IsAvailable">Bil tillgänglig</label>
            </div>
            <div class="form-group">
                <label>Bildlänkar</label>
                <div id="imageLinksContainer">
                    @for (int i = 0; i < Model.ImageLinks.Count; i++)
                    {
                        <div class="input-group mb-2">
                            <input asp-for="ImageLinks[i]" class="form-control" />
                            <button type="button" class="btn btn-danger" onclick="removeImageLink(this)">Ta bort</button>
                        </div>
                        <span asp-validation-for="ImageLinks[i]" class="text-danger"></span>

                    }
                </div>
                <br />
                <button type="button" class="btn btn-secondary" onclick="addImageLink()">Lägg till fler länkar</button>
            </div>

            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function addImageLink() {
            var container = document.getElementById('imageLinksContainer');
            var index = container.querySelectorAll('input').length;
            var newInput = document.createElement('input');
            newInput.name = 'ImageLinks[' + index + ']';
            newInput.className = 'form-control mb-2';
            container.appendChild(newInput);
        }
          function removeImageLink(button) {
            var container = document.getElementById('imageLinksContainer');
            container.removeChild(button.parentElement);
            updateImageLinkNames();
        }
    </script>
}
