@model FribergCarRentals.Models.Booking
<h1>Tack för din bokning!</h1>
<p>Bil: @ViewBag.CarName</p>
<p>Startdatum: @Model.StartDate.ToShortDateString()</p>
<p>Slutdatum: @Model.EndDate.ToShortDateString()</p>
<p>Total kostnad: @Model.TotalCost.ToString("C")</p>