:root {
    --primary: #ef874b;
    --secondary: #FBC337;
    --tertiary: #FDD163;
    --light-grey: #9CA8AE;
    --medium-grey: #55626a;
    --dark-grey: #353d42;
    --danger: #E45521;
    --light-danger: #e27851;
    --background: #e1eaef;
    --text: #ecf3f7;
}

body {
    color: var(--dark-grey);
    background-color: var(--background);
    font-family: Bahnschrift, sans-serif;
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
}

.logo {
    max-height: 70px;
    max-width: 150px;
    height: auto;
    width: auto;
    margin: 0;
}

.navbar {
    background-color: var(--medium-grey) !important;
    
}

    .navbar .nav-link {
        color: var(--background) !important;
        font-family: 'Agency FB', sans-serif;
        font-weight: bold;
        font-size: larger;
    }

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;

    font-weight: bold;
}

    .btn-primary:hover {
        background-color: var(--secondary) !important;
        border-color: var(--secondary) !important;
        
    }

.btn-secondary {
    background-color: var(--dark-grey) !important;
    border-color: var(--dark-grey) !important;

    
    font-weight: bold;
}

.btn.btn-secondary:hover {
    background-color: var(--light-grey) !important;
    border-color: var(--light-grey) !important;
}

.btn-danger {
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;

}

    .btn-danger:hover {
        background-color: var(--light-danger) !important;
        border-color: var(--light-danger) !important;
    }

footer {
    background-color: white !important;
    margin-top: 5px !important;
}

.car-image {
    height: auto;
    width: auto;
}

h1 {
   
    font-family: 'Agency FB', sans-serif;
    font-weight: bolder;
}

.primary-banner {
    background-color: var(--primary);
    color: var(--text);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}