:root {
    --primary: #ef874b;
    --secondary: #FBC337;
    --tertiary: #FDD163;
    --light-grey: #9CA8AE;
    --medium-grey: #6a6e70;
    --dark-grey: #5A5A5A;
    --danger: #E45521;
    --light-danger: #e27851;
}

body {
    color: var(--dark-grey);
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
 
}
.logo {
    max-height: 70px;
    max-width: 150px;
    height: auto;
    width: auto;
    margin: 0;
}

.navbar {
    background-color: var(--medium-grey) !important;
    color: white !important;
}

.navbar .nav-link {
        color: white !important;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

    .btn-primary:hover {
        background-color: var(--secondary) !important;
        border-color: var(--secondary) !important;
    }

.btn-secondary {
    background-color: var(--dark-grey) !important;
    border-color: var(--dark-grey) !important;
}

.btn.btn-secondary:hover {
    background-color: var(--light-grey) !important;
    border-color: var(--light-grey) !important;
}

.btn-danger {
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
}

    .btn-danger:hover {
        background-color: var(--light-danger) !important;
        border-color: var(--light-danger) !important;
    }