@using FribergCarRentals.ViewModels
@model LoginRegisterViewModel

@{
    ViewData["Title"] = "Logga in eller registrera dig för att boka en bil";
}

<div class="container mt-5">
    <h2 class ="text-center">@ViewData["Title"]</h2>
    <div class="row">
        @await Html.PartialAsync("LoginForm", Model.Login)
        @await Html.PartialAsync("RegisterForm", Model.Register)
    </div>
</div>


