
<div class="text-center">
    <h1 class="display-4">Välkommen till Friberg Car Rentals</h1>
    <h2>Här kan du boka en bil, se dina tidigare bokningar eller ta en titt på våra tillgängliga bilar!</h2>
</div>
