@using FribergCarRentals.ViewModels
@model LoginViewModel

<div class="col-md-6">
    <h4>Login</h4>
    @if (ViewData.ModelState["Login"] != null)

    {

        foreach (var error in ViewData.ModelState["Login"].Errors)

        {
            <div class="alert alert-danger">
                @error.ErrorMessage
            </div>
        }

    }
    <form asp-action="Login" asp-controller="LoginRegister" method="post">
        <div class="form-group">
            <label for="Login_Email">Email</label>
            <input type="email" asp-for="Email" id="Login_Email" class="form-control" placeholder="Enter your email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Login_Password">Password</label>
            <input type="password" asp-for="Password" id="Login_Password" class="form-control" placeholder="Enter your password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>
</div>