@using FribergCarRentals.ViewModels
@model LoginViewModel

@{
    var controllerName = ViewData["ControllerName"].ToString() ?? "LoginRegister"; //if null - default LoginRegister
}




<div class="col-md-6">
    <h4>Logga in</h4>
    @if (ViewBag.LoginErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.LoginErrorMessage
        </div>
    }
    <form asp-action="Login" asp-controller="@controllerName" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="Login_Email">Email</label>
            <input type="email" asp-for="Email" id="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Login_Password">Lösenord</label>
            <input type="password" asp-for="Password" id="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Logga in</button>
    </form>
</div>