<h1>Vad vill du göra som administratör?</h1>
    <ul>
        <li><a href="@Url.Action("ManageCars", "Admin")">Bilar</a></li>
        <li><a href="@Url.Action("ManageCustomers", "Admin")">Kunder</a></li>
    </ul>
  