<h1>Vad vill du göra som administratör?</h1>
    <ul>
    <li><a href="@Url.Action("List", "Booking")">Se bokningar</a></li>
        <li><a href="@Url.Action("List", "Cars")">Se bilar</a></li>
    <li><a href="@Url.Action("ManageBookings", "Admin")">Kunder</a></li>
    </ul>
  